---
import "../styles/global.css";
import { Navbar } from "@/components/navbar";
import WhatsappButton from "@/components/whatsappButton";
import { Footer } from "@/components/footer";
const { title } = Astro.props;
---
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/favicon.png">
    <title>{title}</title>
    <meta name="generator" content={Astro.generator}>
  </head>
  <body class="bg-black text-white">
    <section class="flex flex-col min-h-screen">
      <WhatsappButton />
      <Navbar client:load />
      <slot />
      <Footer />
    </section>
  </body>
</html>

